<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>Menu</name>
    <events>
        <event-block sid="360066487793220">
            <conditions>
                <condition id="6" name="On object clicked" sid="916782855745350" type="Mouse">
                    <param id="0" name="Mouse button">0</param>
                    <param id="1" name="Click type">0</param>
                    <param id="2" name="Object clicked">NewGame</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Go to layout" sid="498247843232780" type="System">
                    <param id="0" name="Layout">Test Level</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
